<div class="waiting-container">
  <app-loading-spinner></app-loading-spinner>
  <app-success-message [message]="successMessage"></app-success-message>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <h2>Waiting for opponent to join...</h2>
  
  <div class="share-section">
    <p>Share this link with your friend to start playing:</p>
    <div class="share-link">
      {{ shareableLink }}
    </div>
    <button mat-raised-button color="primary" (click)="copyLink()">
      <mat-icon>content_copy</mat-icon>
      Copy Link
    </button>
  </div>

  <div class="cancel-section">
    <button mat-button color="warn" (click)="cancelGame()">
      <mat-icon>cancel</mat-icon>
      Cancel Game
    </button>
  </div>
</div>
